<!DOCTYPE html>
<html>
<head>
  <title>Loan Calculator</title>
</head>
<body class="back">
  <div class="middle">
  <h1 id="prop">Loan Calculator</h1>
  <a class="a" href="/calculator">Click here to choose a calculator</a>
  </div>
</body>
<style>
  .back{
    background-image: url('https://www.dontworkanotherday.com/wp-content/uploads/2021/06/Best-Compound-Interest-Investment.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100%;
    width: auto;
  }
  #prop{
    font-size: 60px;
  }
  .middle{
    position: absolute;
	  text-align: center;
	  top: 10%;
	  right: 37%;
  }
  .a{
    color: black;
    font-size: 20px;
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: cyan;
    border-radius: 5px;
  }
  a:hover{
    box-shadow: 0 0 5px cyan,
    0 0 25px cyan,0 0 50px cyan,
    0 0 100px cyan,0 0 200px cyan;
  }
</style>
</html>
